:root {
  --icon-transition: 0.2s ease;
}

/* #region TABLE STYLES */
table.table-borderless td,
table.table-borderless tr {
  border: none;
}

table.table-layout-fixed {
  table-layout: fixed;
}

.cell {
  border: black 1px solid;
}

.cell.cell-blue {
  background-color: rgba(0, 0, 255, 0.7);
}

.cell.cell-white {
  background-color: rgba(255, 255, 255, 0.7);
}

.cell.cell-red {
  background-color: rgba(255, 0, 0, 0.7);
}

.cell.cell-lime {
  background-color: rgba(0, 255, 0, 0.7);
}

.cell.cell-black {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

/* #endregion TABLE STYLES */
/* #region TEXT */
.write-vertical {
  writing-mode: vertical-lr;
}

.font-weight-bold {
  font-weight: bold;
}

.no-wrap {
  white-space: nowrap;
}

/* #endregion TEXT */
/* #region MISC ALIGNMENT */
.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.min-vh-0 {
  min-height: 0vh !important;
}

.min-vh-1 {
  min-height: 1vh !important;
}

.min-vh-2 {
  min-height: 2vh !important;
}

.min-vh-3 {
  min-height: 3vh !important;
}

.min-vh-4 {
  min-height: 4vh !important;
}

.min-vh-5 {
  min-height: 5vh !important;
}

.min-vh-6 {
  min-height: 6vh !important;
}

.min-vh-7 {
  min-height: 7vh !important;
}

.min-vh-8 {
  min-height: 8vh !important;
}

.min-vh-9 {
  min-height: 9vh !important;
}

.min-vh-10 {
  min-height: 10vh !important;
}

.min-vh-11 {
  min-height: 11vh !important;
}

.min-vh-12 {
  min-height: 12vh !important;
}

.min-vh-13 {
  min-height: 13vh !important;
}

.min-vh-14 {
  min-height: 14vh !important;
}

.min-vh-15 {
  min-height: 15vh !important;
}

.min-vh-16 {
  min-height: 16vh !important;
}

.min-vh-17 {
  min-height: 17vh !important;
}

.min-vh-18 {
  min-height: 18vh !important;
}

.min-vh-19 {
  min-height: 19vh !important;
}

.min-vh-20 {
  min-height: 20vh !important;
}

.min-vh-21 {
  min-height: 21vh !important;
}

.min-vh-22 {
  min-height: 22vh !important;
}

.min-vh-23 {
  min-height: 23vh !important;
}

.min-vh-24 {
  min-height: 24vh !important;
}

.min-vh-25 {
  min-height: 25vh !important;
}

.min-vh-26 {
  min-height: 26vh !important;
}

.min-vh-27 {
  min-height: 27vh !important;
}

.min-vh-28 {
  min-height: 28vh !important;
}

.min-vh-29 {
  min-height: 29vh !important;
}

.min-vh-30 {
  min-height: 30vh !important;
}

.min-vh-31 {
  min-height: 31vh !important;
}

.min-vh-32 {
  min-height: 32vh !important;
}

.min-vh-33 {
  min-height: 33vh !important;
}

.min-vh-34 {
  min-height: 34vh !important;
}

.min-vh-35 {
  min-height: 35vh !important;
}

.min-vh-36 {
  min-height: 36vh !important;
}

.min-vh-37 {
  min-height: 37vh !important;
}

.min-vh-38 {
  min-height: 38vh !important;
}

.min-vh-39 {
  min-height: 39vh !important;
}

.min-vh-40 {
  min-height: 40vh !important;
}

.min-vh-41 {
  min-height: 41vh !important;
}

.min-vh-42 {
  min-height: 42vh !important;
}

.min-vh-43 {
  min-height: 43vh !important;
}

.min-vh-44 {
  min-height: 44vh !important;
}

.min-vh-45 {
  min-height: 45vh !important;
}

.min-vh-46 {
  min-height: 46vh !important;
}

.min-vh-47 {
  min-height: 47vh !important;
}

.min-vh-48 {
  min-height: 48vh !important;
}

.min-vh-49 {
  min-height: 49vh !important;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.min-vh-51 {
  min-height: 51vh !important;
}

.min-vh-52 {
  min-height: 52vh !important;
}

.min-vh-53 {
  min-height: 53vh !important;
}

.min-vh-54 {
  min-height: 54vh !important;
}

.min-vh-55 {
  min-height: 55vh !important;
}

.min-vh-56 {
  min-height: 56vh !important;
}

.min-vh-57 {
  min-height: 57vh !important;
}

.min-vh-58 {
  min-height: 58vh !important;
}

.min-vh-59 {
  min-height: 59vh !important;
}

.min-vh-60 {
  min-height: 60vh !important;
}

.min-vh-61 {
  min-height: 61vh !important;
}

.min-vh-62 {
  min-height: 62vh !important;
}

.min-vh-63 {
  min-height: 63vh !important;
}

.min-vh-64 {
  min-height: 64vh !important;
}

.min-vh-65 {
  min-height: 65vh !important;
}

.min-vh-66 {
  min-height: 66vh !important;
}

.min-vh-67 {
  min-height: 67vh !important;
}

.min-vh-68 {
  min-height: 68vh !important;
}

.min-vh-69 {
  min-height: 69vh !important;
}

.min-vh-70 {
  min-height: 70vh !important;
}

.min-vh-71 {
  min-height: 71vh !important;
}

.min-vh-72 {
  min-height: 72vh !important;
}

.min-vh-73 {
  min-height: 73vh !important;
}

.min-vh-74 {
  min-height: 74vh !important;
}

.min-vh-75 {
  min-height: 75vh !important;
}

.min-vh-76 {
  min-height: 76vh !important;
}

.min-vh-77 {
  min-height: 77vh !important;
}

.min-vh-78 {
  min-height: 78vh !important;
}

.min-vh-79 {
  min-height: 79vh !important;
}

.min-vh-80 {
  min-height: 80vh !important;
}

.min-vh-81 {
  min-height: 81vh !important;
}

.min-vh-82 {
  min-height: 82vh !important;
}

.min-vh-83 {
  min-height: 83vh !important;
}

.min-vh-84 {
  min-height: 84vh !important;
}

.min-vh-85 {
  min-height: 85vh !important;
}

.min-vh-86 {
  min-height: 86vh !important;
}

.min-vh-87 {
  min-height: 87vh !important;
}

.min-vh-88 {
  min-height: 88vh !important;
}

.min-vh-89 {
  min-height: 89vh !important;
}

.min-vh-90 {
  min-height: 90vh !important;
}

.min-vh-91 {
  min-height: 91vh !important;
}

.min-vh-92 {
  min-height: 92vh !important;
}

.min-vh-93 {
  min-height: 93vh !important;
}

.min-vh-94 {
  min-height: 94vh !important;
}

.min-vh-95 {
  min-height: 95vh !important;
}

.min-vh-96 {
  min-height: 96vh !important;
}

.min-vh-97 {
  min-height: 97vh !important;
}

.min-vh-98 {
  min-height: 98vh !important;
}

.min-vh-99 {
  min-height: 99vh !important;
}

.cursor-default {
  cursor: default !important;
}

.options {
  transition: height 500ms ease;
  overflow: hidden;
}

.h-0 {
  height: 0px;
}

.w-0 {
  width: 0px !important;
}

.resize-none {
  resize: none;
}

/* #endregion MISC */
/* #region BOOTSTRAP OVERRIDES */
.btn,
.form-control,
.form-select {
  border-radius: 0;
}

/* #endregion */
/* #region BOOTSTRAP EXTRAS */
.outline-primary {
  outline-color: var(--bs-primary) !important;
}

.outline-secondary {
  outline-color: var(--bs-secondary) !important;
}

.outline-success {
  outline-color: var(--bs-success) !important;
}

.outline-info {
  outline-color: var(--bs-info) !important;
}

.outline-warning {
  outline-color: var(--bs-warning) !important;
}

.outline-danger {
  outline-color: var(--bs-danger) !important;
}

.outline-light {
  outline-color: var(--bs-light) !important;
}

.outline-dark {
  outline-color: var(--bs-dark) !important;
}

/* #endregion */
/* #region ANIMATIONS */
.animate-border {
  outline-color: transparent;
  outline-width: 0px;
  outline-style: solid;
  transition: background-color var(--standard-theme-transition), border-color var(--standard-theme-transition), outline-width 0.1s ease, outline-color 0.1s ease !important;
}

.animate-border.go {
  outline-width: 3px;
}

nav a:hover .fa-brands.fa-github,
nav a:hover .fa-solid.fa-house {
  transform: scale(150%, 150%);
  rotate: 360deg;
  text-shadow: 0 0 20px grey;
  transition: transform var(--icon-transition), text-shadow var(--icon-transition), rotate var(--icon-transition);
}

nav a .fa-brands.fa-github,
nav a .fa-solid.fa-house {
  color: white;
  transition: transform var(--icon-transition), text-shadow var(--icon-transition);
}

/* #endregion *//*# sourceMappingURL=site.css.map */