/* #region TABLE STYLES */
table.table-borderless td,
table.table-borderless tr {
  border: none;
}

table.table-layout-fixed {
  table-layout: fixed;
}

.cell {
  border: black 1px solid;
}
.cell.cell-white {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.cell-red {
  /* background-color: red!important; */
  background-color: rgba(255, 0, 0, 0.7) !important;
}
.cell-green {
  /* background-color: lime!important; */
  background-color: rgba(0, 255, 0, 0.7) !important;
}
.cell-black {
  /* background-color: grey !important; */
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white;
}
/* #endregion TABLE STYLES */

/* #region TEXT */
.write-vertical {
  writing-mode: vertical-lr;
}

.font-weight-bold {
  font-weight: bold;
}
/* #endregion TEXT */

.overflow-x-auto {
  overflow-x: auto;
}

.cursor-default {
  cursor: default !important;
}

.min-vh-90 {
  min-height: 90vh !important;
}

.options {
  transition: height 500ms ease;
  overflow: hidden;
}

.h-0 {
  height: 0px;
}

.no-wrap {
  white-space: nowrap;
}
