/* #region TABLE STYLES */
table.table-borderless td,
table.table-borderless tr {
  border: none;
}

table.table-layout-fixed {
  table-layout: fixed;
}

.cell {
  border: black 1px solid;
}

$cellColors: blue, white, red, lime, black;

@each $color in $cellColors {
  .cell.cell-#{'' + $color} {
    background-color: #{'rgba(#{red($color)}, #{green($color)}, #{blue($color)}, 0.7)'};
    @if $color == black {
      color: white;
    }
  }
}
/* #endregion TABLE STYLES */

/* #region TEXT */
.write-vertical {
  writing-mode: vertical-lr;
}

.font-weight-bold {
  font-weight: bold;
}

.no-wrap {
  white-space: nowrap;
}
/* #endregion TEXT */

/* #region MISC ALIGNMENT */
@each $dir in ('x', 'y') {
  .overflow-#{$dir}-auto {
    overflow-#{$dir}: auto;
  }
}

$i: 0;
@while $i < 100 {
  .min-vh-#{$i} {
    min-height: #{$i}vh !important;
  }
  $i: $i + 1;
}

.cursor-default {
  cursor: default !important;
}

.options {
  transition: height 500ms ease;
  overflow: hidden;
}

.h-0 {
  height: 0px;
}

.w-0 {
  width: 0px !important;
}

.resize-none {
  resize: none;
}
/* #endregion MISC */

/* #region BOOTSTRAP OVERRIDES */
.btn,
.form-control,
.form-select {
  border-radius: 0;
}
/* #endregion */

/* #region BOOTSTRAP EXTRAS */

$bootstrapStyles: 'primary', 'secondary', 'success', 'info', 'warning', 'danger',
  'light', 'dark';

@each $style in $bootstrapStyles {
  .outline-#{$style} {
    outline-color: var(--bs-#{$style}) !important;
  }
}

/* #endregion */

/* #region ANIMATIONS */

.animate-border {
  outline-color: white;
  outline-width: 0px;
  outline-style: solid;
  transition: all 0.05s linear;
}

.animate-border.go {
  outline-width: 2px;
}

/* #endregion */
