/* #region TABLE STYLES */
table.table-borderless td,
table.table-borderless tr {
  border: none;
}

table.table-layout-fixed {
  table-layout: fixed;
}

.cell {
  border: black 1px solid;
}

$cellColors: blue, white, red, lime, black;

@each $color in $cellColors {
  .cell.cell-#{'' + $color} {
    background-color: #{'rgba(#{red($color)}, #{green($color)}, #{blue($color)}, 0.7)'};
    @if $color == black {
      color: white;
    }
  }
}
/* #endregion TABLE STYLES */

/* #region TEXT */
.write-vertical {
  writing-mode: vertical-lr;
}

.font-weight-bold {
  font-weight: bold;
}

.no-wrap {
  white-space: nowrap;
}
/* #endregion TEXT */

/* #region MISC */
@each $dir in ('x', 'y') {
  .overflow-#{$dir}-auto {
    overflow-#{$dir}: auto;
  }
}

$i: 0;
@while $i < 100 {
  .min-vh-#{$i} {
    min-height: #{$i}vh !important;
  }
  $i: $i + 1;
}

.cursor-default {
  cursor: default !important;
}

.options {
  transition: height 500ms ease;
  overflow: hidden;
}

.h-0 {
  height: 0px;
}

.resize-none {
  resize: none;
}
/* #endregion MISC */
